.idea
twister/twister.apk
lisp-pamper/ufo.rkt~
meme/out.gif
count/.dub
count/docs.json
count/__dummy.html
count/docs/
count/count
count/count.so
count/count.dylib
count/count.dll
count/count.a
count/count.lib
count/count-test-*
count/*.exe
count/*.pdb
count/*.o
count/*.obj
count/*.lst
count/.idea
